<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Авторизация</title>
</head>
<body>

<form method="post">
        {% csrf_token %}

        <h3>АВТОРИЗАЦИЯ</h3>
        <h3>'добавить поле подсказки пароля'</h3>
        <h1>{{text}}</h1>

        <h1>Логин</h1>
        <input name="login" type="text">

        <h1>Пароль</h1>
        <input name="password" type="text">

        <h1>инвайт код</h1>
        <input name="invait" type="text">

        <button name="send" value="send" type="submit">Авторизоваться</button>
        <button name="logout" value="ok" type="submit">d=Выйти</button>
</form>

</body>
</html>